# Directorios generados por Jekyll
/_site
.sass-cache/

# Archivos de depuración y temporales
.DS_Store
Thumbs.db

# Ruta Carpeta o archivo que quiero ignorar
ayuda-informacion/

# Excluye la publicación de Pearl Harbor (el archivo .md)
_posts/2025-12-06-ataque-a-pearl-harbor-imagenes-reales-a-84-anos-de-una-fecha-que-marco-la-historia.md