/* === BARRA NARANJA === */
.topbar {
  width: 100%;
  background: #ff6600;
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.logo {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.menu a {
  margin-left: 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}