/* === BARRA NARANJA === */
.topbar {
  width: 100%;
  background: #ff6600;
  padding: 12px 0;     /* No usar padding lateral para que no empuje el contenido */
}

/* Centra el contenido del header */
.topbar .inner {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Logo a la izq - Menú a la derecha */
  align-items: center;
  padding: 0 18px; /* Si querés un poco de aire a los lados */
}

.logo {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.menu a {
  margin-left: 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}