<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title | escape }}</title>

  <!-- Enlace al CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header>
  <div class="topbar">
    <a href="/" class="logo">Realidad Alterna</a>

    <nav class="menu">
      <a href="/preguntar.html">Preguntar</a>
      <a href="/sobre-nosotros.html">Sobre Nosotros</a>
    </nav>
  </div>
</header>

  <main>
    {{ content }}
  </main>

  <footer>
    <div style="text-align:center; padding:18px 0; color:#666;">
      © 2025 – Realidad Alterna / TierraSapiens
    </div>
  </footer>

</body>
</html>
